body{
  display: flex;
  justify-content: space-between; /* Разместить элементы в стороны */
  align-items: center;
  background-color: #333; /* Темный фон */
  color: #fff; /* Светлый текст */
  padding: 15px 20px; /* Отступы внутри хедера */
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для эстетики */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
